<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
</head>

<body>
    用户可以通过账号向系统服务进行身份验证，并获取相关授权，但身份验证并不代表授权。为了会计、安全、数据收集和资源管理，用户通常需要一个密码或其他证明以登录账号。当用户登录后，操作系统通常会用识别号标识用户，而不是用户名。
    电脑系统可根据用户数量分为两类：

    单用户系统，不存在多个账户的概念
    多用户系统，存在多个账户的概念，要求用户在使用系统之前识别身份。

    多用户系统上的用户通常有一个家目录，其储存与用户相关的文件，其他用户无法接触。用户账号通常包含一份公开的用户信息，包含由用户提供的基本资料。
</body>

</html>