<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music应用</title>
</head>
<body>
        约翰·塞巴斯蒂安·巴赫（Johann Sebastian Bach，1685年3月31日～1750年7月28日），出生于德国图林根州的埃森纳赫，巴洛克时期德国作曲家、键盘演奏家 [1-2]  。
        1700年，赴吕内堡，进入米歇尔学校唱诗班学习 [3]  。1703年至1707年，先后在阿恩施塔特和米尔豪森任职。1708年，到魏玛任宫廷教堂管风琴师；在职的9年期间，创作了大量的管风琴曲与康塔塔，并钻研法国古钢琴音乐与意大利弦乐作品 [4]  。1717年，转而受聘于科腾，在列奥波德亲王府邸担任宫廷乐长和键盘演奏家；在此期间创作了大量的世俗器乐作品，如小提琴协奏曲、各类奏鸣曲、组曲、创意曲、《勃兰登堡协奏曲》，以及《平均律钢琴曲集》第一集。1723年，赴莱比锡，在该城工作的27年时间里，任圣托马斯教堂合唱指挥和音乐总监等职；在此期间，创作了其重要的宗教和世俗音乐作品，包括《马太受难曲》《约翰受难曲》《b小调弥撒曲》，以及康塔塔、经文歌、圣母颂歌等。1749年，视力减退，后双目失明。1750年7月28日，巴赫在莱比锡逝世，享年65岁。
</body>
</html>